<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxlc.backstageapp.mapper.ProjectMapper">
    <select id="findCapAndQueByProId" resultType="com.hxlc.backstageapp.pojo.Media">
		SELECT
			*
		FROM
			media_info A,
			(
				SELECT
					caption_id,
					question_id
				FROM
					project_info
				WHERE
					gid = #{projectId}
			) b
		WHERE
			A .gid = b.caption_id
		OR A .gid = b.question_id
    </select>
</mapper>