<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxlc.backstageapp.mapper.ProjectMapper">

	<select id="getAllProject" resultType="com.hxlc.backstageapp.pojo.Project">
		SELECT
			P .*, M .url picUrl
		FROM
			project_info P,
			media_info M
		WHERE
			P .gid = M .project_id
		AND M . TYPE = '图标'
	</select>

	<select id="findProjectByProjectName" resultType="com.hxlc.backstageapp.pojo.Project">
		SELECT
			P .*, M .url picUrl
		FROM
			project_info P,
			media_info M
		WHERE
			P . NAME LIKE '%${projectName}%'
		AND P .gid = M .project_id
		AND M . TYPE = '图标'
	</select>

    <select id="findCapAndQueByProId" resultType="com.hxlc.backstageapp.pojo.Media">
		SELECT
			*
		FROM
			media_info A,
			(
				SELECT
					caption_id,
					question_id
				FROM
					project_info
				WHERE
					gid = #{projectId}
			) b
		WHERE
			A .gid = b.caption_id
		OR A .gid = b.question_id
    </select>

	<select id="selectProById" resultType="com.hxlc.backstageapp.pojo.Project">
		SELECT
			P .*, M .url picUrl
		FROM
			project_info P,
			media_info M
		WHERE
			P . gid = #{proId}
		AND P .gid = M .project_id
		AND M . TYPE = '图标'
	</select>

    <select id="findRecommendPro" resultType="map">
		SELECT
			A .*, P .develop,
			P . NAME project_name,
			b.url
		FROM
			(SELECT * FROM app_face) A,
			media_info b,
			project_info P
		WHERE
			A .project_id = b.project_id
		AND b. TYPE = '图标'
		AND b.project_id = P .gid
		ORDER BY
			A . INDEX
	</select>

    <!-- keyProperty:对象属性,若要得到返回的主键,须得类名点
          keyColumn:表中字段
     -->
    <insert id="addProject" parameterType="com.hxlc.backstageapp.pojo.Project" useGeneratedKeys="true"
            keyProperty="project.gid" keyColumn="gid">
		insert into
			project_info
				(	name,disnum,description,
					develop,keyword,price,
					address,commission,header,
					tel,back_time,state,
					remark,type,report_limit,
					bidding_begin,bidding_end
				)
		values
			(	#{project.name},#{project.disnum},#{project.description},
				#{project.develop},#{project.keyword},#{project.price},
				#{project.address},#{project.commission},#{project.header},
				#{project.tel},#{project.backTime},#{project.state},
				#{project.remark},#{project.type},#{project.reportLimit},
				#{project.biddingBegin},#{project.biddingEnd}
			)
	</insert>


</mapper>